<div class="row wrapper border-bottom white-bg page-heading">
  <h2>Welcome to Kuwinda</h2>
</div>

<div class="row wrapper border-bottom white-bg page-heading m-t p-h-xs">

  <div class="col-sm-4">
    <h2>Kuwinda</h2>

    <ul>
      <li>
        Current version: 0.1.1
      </li>

      <li>
        Documentation
      </li>

      <li>
        <a href="https://kuwinda.io">Official homepage</a>
      </li>

      <li>
        <a href="https://www.kuwinda.io/support/en/knowledgebase">Get support</a>
      </li>

      <li>List of changes</li>
      <li>Request a feature</li>
    </ul>
  </div>

  <div class="col-sm-4">
    <h2>Kuwinda database</h2>

    <ul>
      <li>
        <div data-toggle='tooltip' data-placement='top' title ='<%= @admin_database.host %>' class="text-truncate">
          Database host:
          <%= @admin_database.host %>
        </div>
      </li>

      <li>Database type: <%= @admin_database.type %></li>
      <li>Database port: <%= @admin_database.port %></li>
      <li>Database name: <%= @admin_database.database %></li>
      <li>Database username: <%= @admin_database.username %></li>
      <li>Database password: **********</li>
    </ul>
  </div>

  <div class="col-sm-4">
    <h2>Target database</h2>

    <ul>
      <li>
        <div data-toggle='tooltip' data-placement='top' title ='<%= current_organisation.target_database_host %>' class="text-truncate">
          Database host:
          <%= current_organisation.target_database_host %>
        </div>
      </li>
      <li>Database type: <%= current_organisation.target_database_type %></li>
      <li>Database port: <%= current_organisation.target_database_port %></li>
      <li>Database name: <%= current_organisation.target_database_name %></li>
      <li>Database username: <%= current_organisation.target_database_username %></li>
      <li>Database password: **********</li>
    </ul>
  </div>
</div>
