<div class="row wrapper page-heading dashboard--title">
  <h1 class="bold">Welcome to MissionKontrol</h1>
  <h4><%= Time.now.strftime("%A %d %B %Y") %></h4>
</div>

<div class="row wrapper m-t p-h-xs">
  <div class="col-sm-8">
    <div class="row">
      <%
=begin%>
 <% if @trial_license %>
        <div class="col-sm-12">
          <div class="dashboard--trial-license">
            <h1>You're on a trial license</h1>
            <h5>Let us know if there is anything we can help with. Subscribe Now.</h5>
          </div>
        </div>
      <% end %> 
<%
=end%>
      <div class="col-sm-12 dashboard--panels">
        <div class="row">
          <div class="col-sm-4">
            <div class="dashboard--panel" data-link="<%= new_database_path if current_admin_user.admin_abilities? %>">
              <img src="/assets/images/icons/database-2.png">
              <h3>Connect a database</h3>
              <h5>Add a database to get started building your admin interface</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="dashboard--panel" data-link="<%= permissions_path if current_admin_user.admin_abilities? %>">
              <img src="/assets/images/icons/report.png">
              <h3>Configure tables</h3>
              <h5>Once you have connected a database set-up some tables</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="dashboard--panel" data-link="<%= users_path if current_admin_user.admin_abilities? %>">
              <img src="/assets/images/icons/team-1.png">
              <h3>Invite users</h3>
              <h5>Set permissions and add some users</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 border-left">
    <div class="border-bottom">
      <h2>System</h2>
    </div>
    <div class="dashboard--system">
      <ul>
        <li>
          <a href="https://missionkontrol.io/documentation/changelog/" target="_blank">Current version: v0.2.2</a>
        </li>

        <li>
           <a href="https://missionkontrol.io/documentation/" target="_blank">Documentation</a>
        </li>

        <li>
          <a href="https://missionkontrol.io" target="_blank">Official homepage</a>
        </li>

        <li>
          <a href="https://missionkontrol.io/documentation/changelog/" target="_blank">List of changes</a>
        </li>

        <li>
          <a href="https://missionkontrol.io/contact-us/ target="_blank"">Request a feature</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 light-grey-bg">
    <div class="tabs-container">
      <div class="tab-content">
        <div id="tab-1" class="tab-pane active all-activities-tab">
          <div class="panel-body">
            <h2>Activity history</h2>
            <div class="activity-stream">
              <% if @activities_for_user %>
                <%= render 'shared/activity_stream', activities: @activities_for_user, locals: { hide: false, link: true } %>
              <% else %>
                <p class="default-message">You haven't recorded any activity yet.</p>
                <%= render 'shared/activity_stream', activities: @activities_for_user, locals: { hide: true, link: true } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
