<% @side_container_items = items_for_container(layout_builder, 'draggable_fields_side_container') %>
<% @side_container_items.each do |k, v|  %>
  <% if v["table"] == @table_name %>
    <% @current_row = @row %>
  <% else %>
    <% @current_row = get_related_row(@table_name, v["table"], @row["id"]) %>
  <% end %>

  <% if v["editable"] == "true" %>
    <div class="row editable-row">
      <div class="col-xs-9">
        <div class="editable-content-wrapper">
          <p class="editable-content"><b><%= v["title"] %></b>: <%= @current_row[v["title"]] %></p>
        </div>

        <div class="editable-input">
          <% if v["kind"] == 'integer' %>
            <input type="number" class="form-control" value="<%= @current_row[v["title"]] %>">
          <% else %>
            <input type="text" class="form-control" value="<%= @current_row[v["title"]] %>">
          <% end %>
        </div>
      </div>

      <div class="col-xs-3 text-right">
        <%= render partial: 'tables/layout/editable_actions', locals: {v: v, params: params} %>
      </div>
    </div>
  <% else %>
    <div class="">
      <p><b><%= v["title"] %></b>: <%= @current_row[v["title"]] %></p>
    </div>
  <% end %>
<% end  %>
