<div class="hide" id="registration-step-2">
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="text-center">
        <div class="logo-wrapper">
          <img src="/assets/images/Kuwinda_logo_full-blue-260.png" alt="">
          <h3>Setup step 2 of 2: Connect database</h3>
        </div>
      </div>

      <div class="m-t-lg">
        <p>Connect your application's database. Nothing will be written to the database as Kuwinda uses it's own database for local settings/data. You can configure what can be updated/changed later.</p>
      </div>

      <div class="form-group">
        <label for="">Database type</label>
        <%= f.select(:target_database_type, AdminUser::DATABASE_TYPES,
                                            {prompt: "Select your database type"},
                                            {class: 'form-control'}) %>
      </div>

      <div class="form-group">
        <%= f.label :target_database_name %>
        <%= f.text_field :target_database_name, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :target_database_username %>
        <%= f.text_field :target_database_username, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :target_database_password %>
        <%= f.password_field :target_database_password, autofocus: true, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :target_database_host %>
        <%= f.text_field :target_database_host, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :target_database_port %>
        <%= f.text_field :target_database_port, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <button type="button" name="button" class="btn btn-primary m-b" onclick="goToRegistrationStep(1)">Back</button>
        <%= f.submit "Submit", class: "btn btn-primary m-b pull-right" %>
      </div>
    </div>
  </div>
</div>
