<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 m-t-xl m-b-xl">


      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="text-center">
            <div class="logo-wrapper">
              <img src="/assets/images/Kuwinda_logo_full-blue-260.png" alt="">
            </div>
          </div>

          <h2>Edit account</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "m-t" }) do |f| %>

            <%= devise_error_messages! %>

            <%= render 'form_content', f: f %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="actions">
              <%= f.submit "Update", class: "btn btn-primary block m-b" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
