<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 m-t-xl m-b-xl">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="text-center">
            <div class="logo-wrapper">
              <a href="/">
                <img src="/assets/images/Kuwinda_logo_full-blue-260.png" alt="">
              </a>
            </div>
          </div>

          <h2>Edit account</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "m-t" }) do |f| %>

            <%= devise_error_messages! %>

            <!-- twilio settings -->
            <div>
              <div class="form-group">
                <div>
                  <%= f.label :twilio_account_sid %>
                  <i class="fa fa-info-circle" title="You can find your Account SID and Auth token in your Twilio settings page, under API credentials"></i>
                </div>
                <%= f.text_field :twilio_account_sid, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <div>
              <div class="form-group">
                <div>
                  <%= f.label :twilio_auth_token %>
                  <i class="fa fa-info-circle" title="You can find your Account SID and Auth token in your Twilio settings page, under API credentials"></i>
                </div>
                <%= f.text_field :twilio_auth_token, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <div>
              <div class="form-group">
                <div>
                  <%= f.label :twilio_caller_id, "Twilio caller ID" %>
                  <i class="fa fa-info-circle" title="You can find your Caller ID in your Twilio Programmable voice settings, under Numbers > Manage numbers > select existing number or buy new number"></i>
                </div>
                <%= f.text_field :twilio_caller_id, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <div>
              <div class="form-group">
                <div>
                  <%= f.label :twilio_application_sid %>
                  <i class="fa fa-info-circle" title="You can find your Caller ID in your Twilio Programmable voice settings, under TwiML > TwiML Apps > Create new app or chose existing app > Application SID can be found under properties"></i>
                </div>
                <%= f.text_field :twilio_application_sid, autofocus: true, class: "form-control" %>
              </div>
            </div>
            <!-- twilio settings -->

            <!-- target database settings -->
            <div class="">
              <div class="m-t-lg m-b-lg">
                <h3>Target application database</h3>
                <p>This is the your applications database.</p>
              </div>

              <div class="form-group">
                <label for="">Database type</label>
                <%= f.select(:target_database_type, AdminUser::DATABASE_TYPES,
                                                    {prompt: "Select your database type"},
                                                    {class: 'form-control'}) %>
              </div>

              <div class="form-group">
                <%= f.label :target_database_name %>
                <%= f.text_field :target_database_name, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :target_database_username %>
                <%= f.text_field :target_database_username, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :target_database_password %>
                <%= f.password_field :target_database_password, autofocus: true, class: "form-control", value: resource.target_database_password, required: true %>
              </div>

              <div class="form-group">
                <%= f.label :target_database_host %>
                <%= f.text_field :target_database_host, autofocus: true, class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :target_database_port %>
                <%= f.text_field :target_database_port, autofocus: true, class: "form-control" %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="actions">
              <%= f.submit "Update", class: "btn btn-primary block m-b btn-right" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
