<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-6">
    <h2>Available Views</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', dashboard_path %>
      </li>

      <li class="active">
        <strong><%= link_to 'View Builders', view_builder_index_path %><strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-2 pull-right margin-top-nav">
    <%= link_to('Add new', new_view_builder_path, html_options = { class: "btn btn-info" }) %>
  </div>
</div>

<div class="wrapper wrapper-content animated ">
  <div class="row">
    <div class="col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>View name</th>
                <th>View status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @view_builders.each do |view_builder| %>
                <tr>
                  <td><%= view_builder.view_name %></td>
                  <td>
                    <button type="button" class="btn btn-<%= view_builder.status %>"><%= view_builder.status.capitalize %>
                  </td>
                  <td>
                    <%= link_to('View/Edit', view_builder_path(view_builder), html_options = { class: "btn btn-info" }) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
