<table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
  <thead>
    <tr>
      <th>Email</th>
      <th>Sign in count</th>
      <th data-hide="phone,tablet">Current sign in at</th>
      <th data-hide="phone,tablet">Last sign in at</th>
      <th data-hide="phone,tablet">Created at</th>
      <th data-hide="phone,tablet">Updated at</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="">
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.current_sign_in_at %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="6">
        <ul class="pagination pull-right"></ul>
      </td>
    </tr>
  </tfoot>
</table>
