<div class="tabs-container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab-1">All</a></li>
    <li class=""><a data-toggle="tab" href="#tab-2">Calls</a></li>
    <li class=""><a data-toggle="tab" href="#tab-3">Meetings</a></li>
    <li class=""><a data-toggle="tab" href="#tab-4">Notes</a></li>
  </ul>

  <div class="tab-content">
    <div id="tab-1" class="tab-pane active all-activities-tab">
      <div class="panel-body">
        <div>
          <%= form_with(model: @activity, local: false, data: { 'activity-form' => true }) do |form| %>
            <div class="form-group">
              <%= form.text_area :content, class: "form-control", disabled: true %>
            </div>

            <div class="row">
              <div class="col-sm-5 col-sm-offset-4">
                <div class="form-group">
                  <%= form.select(:kind, (Activity::KINDS - ["call"]).map { |i| [i, i] }, {:prompt => "Select type of activity"}, { class: "form-control", disabled: true }) %>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="actions">
                  <%= form.submit 'Save', class: 'btn btn-primary width-100', disabled: true %>
                </div>
              </div>
            </div>
          <% end %>
        </div>


        <div class="activity-stream">
          <% if @activities.all.size > 0 %>
            <%= render 'shared/activity_stream', activities: @activities.all %>
          <% else %>
            <p class="default-message">No activity has been recored for this <%= feedable_type %>.</p>
          <% end %>
        </div>

        <button type="button" class="btn btn-block btn-primary margin-top-20" disabled>Show more</button>
      </div>
    </div>

    <div id="tab-2" class="tab-pane activity-tab-for-calls">
      <div class="panel-body">
        <div class="activity-stream">
          <% if @activities.calls.size > 0 %>
            <%= render 'shared/activity_stream', activities: @activities.calls %>
          <% else %>
            <p class="default-message">No calls has been recored for this <%= feedable_type %>.</p>
          <% end %>
        </div>

        <button type="button" class="btn btn-block btn-primary margin-top-20" disabled>Show more</button>
      </div>
    </div>

    <div id="tab-3" class="tab-pane activity-tab-for-meetings">
      <div class="panel-body">
        <div class="activity-stream">
          <% if @activities.meetings.size > 0 %>
            <%= render 'shared/activity_stream', activities: @activities.meetings %>
          <% else %>
            <p class="default-message">No meetings has been recored for this <%= feedable_type %>.</p>
          <% end %>
        </div>

        <button type="button" class="btn btn-block btn-primary margin-top-20" disabled>Show more</button>
      </div>
    </div>

    <div id="tab-4" class="tab-pane activity-tab-for-notes">
      <div class="panel-body">
        <div class="activity-stream">
          <% if @activities.notes.size > 0 %>
            <%= render 'shared/activity_stream', activities: @activities.notes %>
          <% else %>
            <p class="default-message">No notes has been recored for this <%= feedable_type %>.</p>
          <% end %>
        </div>

        <button type="button" class="btn btn-block btn-primary margin-top-20" disabled>Show more</button>
      </div>
    </div>
  </div>
</div>
