<div class="activity-stream">
  <div class="stream">
    <div class="stream-badge">
      <i class="fa fa-pencil"></i>
    </div>

    <div class="stream-panel">
      <div class="stream-info">
        <a href="#">
          <img src="<%= image_path('a2.jpg') %>" />
          <span>Johnny Silvertongue</span>
          <span class="date">5m ago</span>
        </a>
      </div>
      Met with Jane, good progress she’s agreed to look at a 5 year contract.
    </div>
  </div>

  <div class="stream">
    <div class="stream-badge">
      <i class="fa fa-pencil"></i>
    </div>

    <div class="stream-panel">
      <div class="stream-info">
        <a href="#">
          <img src="<%= image_path('a5.jpg') %>" />
          <span>Karen Miggel</span>
          <span class="date">Today at 01:32:40 am</span>
        </a>
      </div>
      Add new note to the <a href="#">Martex</a>  project.
    </div>
  </div>

  <div class="stream">
    <div class="stream-badge">
      <i class="fa fa-commenting-o"></i>
    </div>

    <div class="stream-panel">
      <div class="stream-info">
        <a href="#">
          <img src="<%= image_path('a4.jpg') %>" />
          <span>John Mikkens</span>
          <span class="date">Yesterday at 10:00:20 am</span>
        </a>
      </div>
      Commented on <a href="#">Ariana</a> profile.
    </div>
  </div>

  <div class="stream">
    <div class="stream-badge">
      <i class="fa fa-circle"></i>
    </div>
    <div class="stream-panel">
      <div class="stream-info">
        <a href="#">
          <img src="<%= image_path('a2.jpg') %>" />
          <img src="<%= image_path('a3.jpg') %>" />
          <img src="<%= image_path('a4.jpg') %>" />
          <span>Mike Johnson, Monica Smith and Karen Dortmund</span>
          <span class="date">Yesterday at 02:13:20 am</span>
        </a>
      </div>
      Changed status of third stage in the <a href="#">Vertex</a> project.
    </div>
  </div>

  <div class="stream">
    <div class="stream-badge">
      <i class="fa fa-circle"></i>
    </div>

    <div class="stream-panel">
      <div class="stream-info">
        <a href="#">
          <img src="<%= image_path('a6.jpg') %>" />
          <span>Jessica Smith</span>
          <span class="date">Yesterday at 08:14:41 am</span>
        </a>
      </div>
      Add new files to own file sharing place.
    </div>
  </div>
</div>
