<%= form_for(@work_list, html: {class: "m-t"}) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="">Data</label> <br>
    <%= select_tag(:db_table_name, options_for_select(@db_table_names), prompt: "Select a table to work on", class: 'form-control') %>
  </div>

  <div class="tabs-container" style="margin-bottom: 20px">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-1">Builder</a></li>
      <li class=""><a data-toggle="tab" href="#tab-2">Raw SQL</a></li>
      <li class=""><a data-toggle="tab" href="#tab-3">Preview</a></li>
    </ul>

    <div class="tab-content">
      <div id="tab-1" class="tab-pane active all-activities-tab">
        <div class="panel-body">
          <div class="tabs-container" style="">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-5">Filters</a></li>
              <li class=""><a data-toggle="tab" href="#tab-6">Joins</a></li>
            </ul>

            <div class="tab-content" style="">
              <div id="tab-5" class="tab-pane active">
                <div class="panel-body" style="border: none">
                  <%= render 'work_lists/form/column_filters' %>
                </div>
              </div>

              <div id="tab-6" class="tab-pane">
                <div class="panel-body" style="border: none">
                  <%= render 'work_lists/form/table_joins' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="tab-2" class="tab-pane activity-tab-for-calls">
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :sql_query %>
            <%= f.text_field :sql_query, class: "form-control" %>
          </div>
        </div>
      </div>

      <div id="tab-3" class="tab-pane activity-tab-for-meetings">
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :sql_query %>
            <%= f.text_field :sql_query, class: "form-control" %>
          </div>
        </div>
      </div>

      <div id="tab-4" class="tab-pane activity-tab-for-notes">
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :sql_query %>
            <%= f.text_field :sql_query, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">Define the possible outcomes</label> <br>

    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div class="form-group">
          <label for="">Title</label> <br>
          <input type="text" name="" value="" class="form-control">
        </div>
      </div>

      <div class="col-sm-12 col-md-5">
        <div class="form-group">
          <label for="">Detail</label> <br>
          <input type="text" name="" value="" class="form-control">
        </div>
      </div>

      <div class="col-sm-12 col-md-2">
        <div class="form-group" style="text-align: right">
          <label for=""></label> <br>
          <a href="#" class="btn btn-default">remove</a>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group" style="text-align: right">
          <a href="#" class="btn btn-primary">Add Outcome</a>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="">On failure how long before the worklist item should re-appear?</label>
    <%= select_tag(:failure_timeout_interval, options_for_select(WorkList::FAILURE_TIMEOUT_INTERVALS), class: 'form-control') %>
  </div>

  <div class="actions" style="text-align: right">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
