<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @work_list.name %></h2>

    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', dashboard_path %>
      </li>

      <li>
        <%= link_to 'Work lists', work_lists_path %>
      </li>

      <li class="active">
        <strong><%= @work_list.name %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= @work_list.name %></h5>
        </div>

        <div class="ibox-content" style="overflow-x: scroll">
          <p><%= @work_list.details %></p>

          <input type="text" class="form-control input-sm m-b-xs" id="filter"
          placeholder="Search in table">

          <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
            <thead>
              <tr>
                <% @work_list_data.columns.each do |col| %>
                  <% next unless @work_list.visible_columns.include?(col) %>
                  <th data-sort-ignore="true"><%= col %></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% @work_list_data.to_hash.each do |row| %>
                <tr>
                  <% row.each do |k, v|  %>
                  <% next unless @work_list.visible_columns.include?(k) %>
                    <td>
                      <%= v %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
