<%= render 'shared/page_banner_header', title: 'Settings', items: ['Settings', 'General'] %>

<div class="wrapper wrapper-content animated">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="tabs-container">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a class="nav-link active" data-toggle="tab" href="#settings-tab--general">General</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" id="settings-tab--general" class="tab-pane active">
                <div class="panel-body">

                  <%= form_for(current_organisation, remote: true) do |f| %>
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="form-group">
                          <%= f.label :company_name %>
                          <%= f.text_field :company_name, class: "form-control" %>
                        </div>
                      </div>

                      <div class="col-sm-5">
                        <div class="form-group">
                          <%= f.label :license_key %>
                          <%= f.text_field :license_key, class: "form-control" %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-10">
                        <%= f.submit "Save", class: "btn btn-primary m-b pull-right" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
