<div class="row row-eq-height white-bg">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="table-record-placeholder-header">
          <%= render 'tables/layout/header_container1', layout_builder: layout_builder %>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="table-record-placeholder-header">
          <%= render 'tables/layout/header_container2', layout_builder: layout_builder %>
        </div>
      </div>
    </div>
  </div>

  <% if current_admin_user.twilio_setup_complete? && layout_builder.callable_fields.present? %>
  <div class="col-sm-4 twilio_dialer_buttons">
    <div class="row">
      <div class="col-sm-12">
        <%= render '/tables/twilio_dialer', layout_builder: layout_builder %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<% unless draggable_fields_container_is_empty?(layout_builder.draggable_fields_main_container1) &&
          draggable_fields_container_is_empty?(layout_builder.draggable_fields_main_container2) &&
          draggable_fields_container_is_empty?(layout_builder.draggable_fields_main_container3) %>
  <div class="wrapper">
    <div class="row m-t white-bg">
      <div class="col-sm-4">
        <div class="table-record-placeholder">
          <%= render 'tables/layout/main_container1', layout_builder: layout_builder %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="table-record-placeholder">
          <%= render 'tables/layout/main_container2', layout_builder: layout_builder %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="table-record-placeholder">
          <%= render 'tables/layout/main_container3', layout_builder: layout_builder %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row m-t m-b">
    <% unless draggable_fields_container_is_empty?(layout_builder.draggable_fields_side_container) %>
      <div class="col-sm-5 p-none">
        <div class="m-r white-bg p-xs">
          <div class="table-record-placeholder">
            <%= render 'tables/layout/side_container', layout_builder: layout_builder %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @activities %>
      <div class="col-sm-7 pull-right">
        <div class="row white-bg">
          <div class="p-sm enjoyhint-table-detail-handler">
            <%= render 'shared/activity_history', feedable_type: @target_db_repo.table, feedable_id: @row["id"] %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>
</div>
