<div class="row">
  <div class="col-sm-12">
    <h4 class="bold margin-space"><%= current_table.humanize %></h4>
    <br>
    <table id="target-table-<%= current_table.downcase %>" class="data-table data-table-main related-data-table table" data-table-name='<%= current_table %>' data-database-id='<%= @database.id %>'>
      <thead>
        <tr>
          <% headers.each do |header|%>
            <th class='column-<%= header %>'><%= header.humanize %></th>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>
</div>
