<p class="hide">Showing <%= total_row_count(@rows) %> of <%= @rows.size %> entries</p>

<% if table_has_layout?(@current_table) %>
  <div class="text-right">
      <div class="" style='padding: 10px 10px 0 0'>
        <a href="#" data-toggle="modal" data-target="#column-visibility-settings-modal">
          <i class="fa fa-columns" aria-hidden="true"></i> Columns
        </a>
      </div>
  </div>
<% end %>

<table class="footable table" data-filtering="true"  data-sorting="true" data-paging="true" data-table-name='<%= current_table %>'>
  <thead>
    <tr>
      <% @headers.each do |header|%>
        <% @column_is_hidden = @hidden_columns.include?(header) %>

        <% if @column_is_hidden %>
          <th class='column-<%= header %> hide'><%= header %></th>
        <% else %>
          <th class='column-<%= header %>'><%= header %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @rows.each do |r|%>
      <tr class="clickable-row" data-href='<%= table_record_preview_path(table: @target_db_repo.table, table_name: @target_db_repo.table.downcase, record_id: r['id']) %>'>
        <% if table_has_layout?(@current_table) %>
          <%= render 'table_with_layout', r: r, hidden_columns: @hidden_columns %>
        <% else %>
          <%= render 'table_without_layout', r: r, hidden_columns: @hidden_columns %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
