<% @table_has_layout = table_has_layout?(@table_name) %>
<div class="table-responsive">
  <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
    <thead>
      <tr>
        <% if @table_has_layout %>
          <% @target_db_repo.all.columns.each do |c|%>
            <th data-sort-ignore="true"><%= c %></th>
          <% end %>
        <% else %>
          <% @target_db_repo.all.columns.first(5).each do |c|%>
            <th data-sort-ignore="true"><%= c %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if @table_has_layout %>
        <% @target_db_repo.all.each do |r|%>
          <tr class="">
            <% r.each_with_index do |(k, v), i| %>
              <% if i == 0 %>
                <td>
                  <%= link_to v, table_record_preview_path(table: @target_db_repo.table, table_name: @target_db_repo.table.downcase, record_id: r['id']) %>
                </td>
              <% else %>
                <td><%= v %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <% @target_db_repo.all.each do |r|%>
          <tr class="">
            <% r.first(5).each_with_index do |(k, v), i| %>
              <% if i == 0 %>
                <td>
                  <%= link_to v, table_record_preview_path(table: @target_db_repo.table, table_name: @target_db_repo.table.downcase, record_id: r['id']) %>
                </td>
              <% else %>
                <td><%= v %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan=<%= @target_db_repo.all.columns.size %>>
          <ul class="pagination pull-right"></ul>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
