<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @target_db_repo.table.capitalize %></h2>

    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', dashboard_path %>
      </li>

      <li class="">
        <span>Tables</span>
      </li>

      <li class="">
        <%= link_to @target_db_repo.table.capitalize, table_path(table: @target_db_repo.table, id: @target_db_repo.table.downcase) %>
      </li>

      <li class="active">
        <span><%= @row["id"] %></span>
      </li>
    </ol>
  </div>
</div>

<% if @layout_builder %>
  <div class="m-t">
    <%= render 'record_placeholder', layout_builder: @layout_builder %>
  </div>
<% else %>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-4">
        <%= render 'record_summary' %>
      </div>
    </div>
  </div>
<% end %>
