<div class="row">
  <div class="col-sm-12">
    <br>
    <div id="builder" data-task-queue-table="<%= @task_queue.table %>" data-task-queue-id="<%= @task_queue.id %>" data-task-queue-rules="<%= @task_queue.query_builder_rules %>"></div>
    <br>
    <button type="button" name="button" class="btn btn-primary task-queue-update-button">Update Task Queue</button>
  </div>

  <div class="col-sm-12" style="">
    <br>
    <br>
    <h4>Task Queue Preview</h4>
    <hr>
    <div class="table-responsive">
      <table class="task-queue-preview-table table" data-paging="true"></table>
    </div>
  </div>
</div>

<div class="modal fade" id="new-task-queue-modal" tabindex="-1" role="dialog" aria-labelledby="new-task-queue-modal">
  <div class="modal-dialog" role="document">
    <%= render partial: 'task_queues/new/new_queue_modal_screen_1' %>
    <%= render partial: 'task_queues/new/new_queue_modal_screen_2' %>
  </div>
</div>
