<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>
      <div class="logo-wrapper">
        <img src="/assets/images/Kuwinda_logo_full-blue-260.png" alt="">
      </div>
    </div>

    <h3>Welcome to Kuwinda</h3>

    <p class='p-h-xs'></p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'm-t'}) do |f| %>
      <div class="field form-group">
        <%= f.label :email, "Email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :password, "Password" %><br />
        <%= f.password_field :password, autocomplete: "off", required: true, class: 'form-control' %>
      </div>

      <div class="hide">
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary block full-width m-b' %>
      </div>
    <% end %>

    <%-# replace devise password forgotten link when devise email settings fixed -%>
  </div>
</div>
