<div role="tabpanel" class="tab-pane" id="profile">
  <div class="row min-height-100vh">
    <div class="col-sm-1 min-height-100vh white-bg no-margin">
      <br>
      <%= render 'task_queues/shared/task_queue_navigation' %>
    </div>

    <div class="col-sm-11  min-height-100vh ">
      <%= render 'shared/flash_message' %>

      <div class="tab-content ">
        <div role="tabpanel" class="tab-pane active " id="task-queue-general-settings">
          <div class="row min-height-100vh">
            <div class="col-sm-12 col-md-4 min-height-100vh">
              <h1>General settings</h1>
              <br>

              <%= form_for(@task_queue, html: {class: "m-t"}, remote: true) do |f| %>
                <div class="form-group">
                  <%= f.label :name, "Give your work list a name" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :details, "Enter details of the task" %>
                  <%= f.text_area :details, class: "form-control" %>
                </div>
              <% end %>

              <br>

              <button type="button" name="button" class="btn btn-primary task-queue-update-button" id="task-queue-update-button">Update Task Queue</button>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="task-queue-outcome-settings">
          <div class="row">
            <div class="col-sm-6">
              <h1>Outcome settings</h1>
              <p>
                Every list is actionable, these outcomes will define how long before the record re-appears on the list depending on the outcome of the action.
              </p>

              <%= form_for @task_queue do |f| %>
                <div class="row">
                  <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                      <br>
                      <p><b>Success</b></p>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5">
                    <div class="form-group">
                      <%= f.text_field :success_outcome_title, class: "form-control", placeholder: "E.g. Talked to customer" %>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5">
                    <div class="form-group">
                      <%= f.select(:success_outcome_timeout, TaskQueue::OUTCOME_TIMEOUTS, {selected: @task_queue.success_outcome_timeout }, { class: "form-control" }) %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-2">
                    <div class="form-group">
                      <br>
                      <p><b>Failure</b></p>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5">
                    <div class="form-group">
                      <%= f.text_field :failure_outcome_title, class: "form-control", placeholder: "E.g. Did not talk to customer" %>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-5">
                    <div class="form-group">
                      <%= f.select(:failure_outcome_timeout, TaskQueue::OUTCOME_TIMEOUTS, {selected: @task_queue.failure_outcome_timeout }, { class: "form-control" }) %>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="row">
              <div class="col-sm-12">
                <br>
                <button type="button" name="button" class="btn btn-primary task-queue-update-button" id="task-queue-update-button">Update Task Queue</button>
                <br>
                <br>
                <br>
                <br>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% render 'layouts/footer' %>
    </div>
  </div>
</div>
