<div role="tabpanel" class="tab-pane" id="settings">
  <div class="row min-height-100vh flex">
    <div class="col-sm-1 white-bg no-margin side-nav-width">
      <br>
      <%= render 'task_queues/shared/task_queue_navigation' %>
    </div>

    <div class="col-sm-11  min-height-100vh ">
      <%= render 'shared/flash_message' %>

      <div class="tab-content ">
        <div role="tabpanel" class="tab-pane task-queue-settings-tab active " id="task-queue-general-settings">
          <div class="row min-height-100vh">
            <div class="col-sm-12 col-md-4 min-height-100vh">
              <h1>General settings</h1>
              <br>

              <%= form_for(@task_queue, html: {class: "m-t"}, remote: true) do |f| %>
                <div class="form-group">
                  <%= f.label :name, "Give your work list a name" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :details, "Enter details of the task" %>
                  <%= f.text_area :details, class: "form-control" %>
                </div>
                <%= f.submit "Update Task Queue", class: "btn btn-primary pull-right task-queue-update-settings", id: "task-queue-update-settings" %>
              <% end %>
            </div>
          </div>
        </div>

        <%= render 'task_queues/shared/task_queue_outcome_settings' %>
      </div>

      <% render 'layouts/footer' %>
    </div>
  </div>
</div>
