<div class="users--edit-modal hide">
  <div class="modal--container">
    <div class="modal--content-container">
      <div class="modal--header">
        <div class="row">
          <div class="col-sm-10">
            <h2 class="medium"><%= @user.name %><div class="user--modal-edit-button" data-user="<%= @user.id %>"><img src="/assets/images/icons/edit@2x.png"></div></h3>
            <h5><%= @user.email %></h5>
          </div>
          <div class="col-sm-2">
            <div class="modal--close-btn">
              <img src="/assets/images/icons/close.png">
            </div>
          </div>
        </div>
      </div>
      <div class="modal--content">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="medium">ACCOUNT</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h4>Active</h4>
            <h5>Enable/Disable user account without deleting it</h5>
          </div>
          <div class="col-sm-4">
            <div class="user--activate-toggle">
              <label class="switch">
                <div class='toggle'>
                  <%= check_box_tag 'active', @user.active, @user.active, {class: 'form-control toggle-state', id: 'user--edit-status', "data-user" => @user.id } %>
                  <div class='toggle-inner'>
                    <div class='indicator'></div>
                  </div>
                  <div class='active-bg'></div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h4>Team</h4>
            <h5>Set user's team, this defines permissions</h5>
          </div>
          <div class="col-sm-4">
            <div class="user--team-dropdown">
              <div class="form-control dropdown">
                <%= select_tag "dropdown", options_from_collection_for_select(@roles, 'id', 'name', @role.id), {class: "user--team-select", "data-user" => @user.id} %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="user--delete-btn">
              <%= link_to 'Delete user', users_path({id: @user.id}), class: "btn btn-danger btn--delete-user", remote: true, method: :delete, disabled: @user == @current_admin_user %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>