<div>
  <%= form_with(model: @activity, local: false, data: { 'activity-form' => true }, html: { id: 'task-queue-record-activity-form' }) do |form| %>
    <div class="form-group">
      <%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.hidden_field :feedable_type, id: :feedable_type, value: feedable_type  %>
      <%= form.hidden_field :kind, value: 'note'  %>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="actions text-right">
          <%= form.submit 'Save', class: 'btn btn-primary', id: 'task-queue-record-activity-submit' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
