<div>
  <%= form_with(model: @activity, local: false, data: { 'activity-form' => true }, html: { id: 'task-queue-record-activity-form' }) do |form| %>
    <div class="form-group">
      <%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.hidden_field :feedable_type, id: :feedable_type, value: feedable_type  %>
    </div>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-4">
        <div class="form-group">
          <%= form.select(:kind, (Activity::KINDS - ["call"]).map { |i| [i, i] }, {:prompt => "Select type of activity"}, { class: "form-control" }) %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="actions">
          <%= form.submit 'Save', class: 'btn btn-primary width-100', id: 'task-queue-record-activity-submit' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
