<% @action_for_layout_builder = action_name == 'edit' ? 'update' : 'create' %>
<%= form_for(@view_builder, :url => url_for(:controller => 'layout_builder', action: @action_for_layout_builder),  remote: true) do |form| %>
  <div class="form-group">
    <%= form.hidden_field :layout_id, value: params[:id] %>
  </div>

  <div class="form-group">
    <strong>Primary table</strong>
    <p>Select the primary table that this layout will be based on.</p>
    <%= form.select :table_name,
                    options_for_select(@available_tables, selected: @view_builder.table_name),
                    { prompt: "Select a table" },
                    { class: 'form-control' , "data-table-name" =>  @view_builder.table_name, :disabled => true } %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <strong>Show status</strong>
        <p>Display a status in the header.</p>
      </div>
      <div class="col-md-4">
        <label class="switch">
          <div class='toggle'>
            <input id="view_builder_show_status" class='form-control toggle-state' type='checkbox' name="view_builder[show_status]" value='1' />
            <div class='toggle-inner'>
               <div class='indicator'></div>
            </div>
            <div class='active-bg'></div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <strong>Commentable</strong>
        <p>Users can add comments related to primary table.</p>
      </div>
      <div class="col-md-4">
        <label class="switch">
          <div class='toggle'>
            <input id="view_builder_commentable" class='form-control toggle-state' type='checkbox' name="view_builder[commentable]" value='1' />
            <div class='toggle-inner'>
               <div class='indicator'></div>
            </div>
            <div class='active-bg'></div>
          </div>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <strong>Parent comments table</strong>
    <p>Select a parent table if applicable. E.g. Companies might be parent to Users.</p>
    <%= form.select :parent_comment_table,
                    options_for_select(@available_tables, selected: @view_builder.parent_comment_table),
                    { prompt: "Select a table" },
                    { class: 'form-control' } %>
  </div>

  <div class="actions" style="text-align: right">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
