<div class="row white-bg">
  <% unless draggable_fields_container_is_empty?(layout_builder.draggable_fields_header_container1) &&
            draggable_fields_container_is_empty?(layout_builder.draggable_fields_header_container2) %>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="table-record-placeholder-header">
            <%= render 'layout_builder/layout/header_container1', layout_builder: layout_builder %>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="table-record-placeholder-header">
            <%= render 'layout_builder/layout/header_container2', layout_builder: layout_builder %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="wrapper">
  <% unless draggable_fields_container_is_empty?(layout_builder.draggable_fields_main_container1) &&
            draggable_fields_container_is_empty?(layout_builder.draggable_fields_main_container2) &&
            draggable_fields_container_is_empty?(layout_builder.draggable_fields_main_container3) %>
    <div class="row m-t white-bg">
      <div class="col-sm-4">
        <div class="table-record-placeholder">
          <%= render 'layout_builder/layout/main_container1', layout_builder: layout_builder %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="table-record-placeholder">
          <%= render 'layout_builder/layout/main_container2', layout_builder: layout_builder %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="table-record-placeholder">
          <%= render 'layout_builder/layout/main_container3', layout_builder: layout_builder %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row m-t m-b">
    <% unless draggable_fields_container_is_empty?(layout_builder.draggable_fields_side_container) %>
      <div class="col-sm-5 p-none">
        <div class="m-r white-bg p-xs">
          <div class="table-record-placeholder">
            <%= render 'layout_builder/layout/side_container', layout_builder: layout_builder %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
