<div class="modal fade" id="layout-builder-editable-warning-modal" tabindex="-1" role="dialog" aria-labelledby="layout-builder-editable-warning-modal">
  <div class="modal-dialog" role="document">
    <%= render partial: 'layout_builder/edit/layout_builder_editable_warning_modal_screen_1' %>
  </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-12">
    <div>
      <h2>Layout - <%= @view_builder.view_name %></h2>
    </div>

    <ol class="breadcrumb">
      <li>
        <%= link_to 'Database', dashboard_path %>
      </li>

      <li>
        <%= link_to "Table: #{@view_builder.table_name}", dashboard_path %>
      </li>

      <li>
        <%= link_to "Layout: #{@view_builder.view_name}", dashboard_path %>
      </li>

      <li>
        <strong><%= link_to "Settings", dashboard_path %></strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <%= render 'layout_builder/initial_placeholder' %>
</div>
