<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-6">
    <h1><%= @view_builder.view_name %></h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Home', dashboard_path %>
      </li>

      <li class="breadcrumb-item">
        <%= link_to 'View Builders', view_builder_index_path %>
      </li>

      <li class="breadcrumb-item">
        <%= @view_builder.view_name %>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <%= render 'view_builder/panel', view_builder: @view_builder %>
    </div>
  </div>
</div>
