<div class="row white-bg min-height-100vh">
  <div class="col-sm-3 min-height-100vh">
    <br>
    <a class="layout-builder-nav-item" href="/" data-tab-name="layout_builder_field_settings_form" id="layout-builder-field-settings-tab">
      <i class="fa fa-database" aria-hidden="true"></i>
    </a>

    <a class="layout-builder-nav-item" href="/" data-tab-name="layout_builder_general_settings_form" id="layout-builder-general-settings-tab">
      <i class="fa fa-wrench" aria-hidden="true"></i>
    </a>
  </div>

  <div class="col-sm-9 layout-builder-side-nav min-height-100vh">
    <br>
    <div class="m-t">
      <div class="tab-content" id="layout_builder_general_settings_form">
        <h4>General settings</h4>

        <p class="hide">
          <small>
            Saved.
          </small>
        </p>

        <%= render 'general_settings_form' %>
      </div>

      <div class="tab-content" id="layout_builder_field_settings_form">

        <div id="layout_builder_field_settings_form_screen_1">
          <h4>Fields</h4>

          <p>Select a table to view related fields.</p>

          <div class="light-border-bottom"></div>

          <% if action_name == 'edit' %>
            <div class="light-border-bottom layout-builder-side-nav-available-table">
              <% primary_table = @view_builder.table_name %>
              <a href="#" class="layout_builder_selected_table_name" data-table-name=<%= primary_table %>>
                <strong><%= primary_table %></strong>
                <i class="fa fa-angle-right float-right" aria-hidden="true"></i>
              </a>
            </div>

            <% @relatable_tables.each do |table| %>
              <div class="light-border-bottom layout-builder-side-nav-available-table">
                <a href="#" class="layout_builder_selected_table_name" data-table-name=<%= table %>>
                  <%= table %>
                  <i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                </a>
              </div>
            <% end %>
          <% end %>

          <% if action_name == 'new' %>
            <% @available_tables.each do |table| %>
              <div class="light-border-bottom layout-builder-side-nav-available-table">
                <a href="#" class="layout_builder_selected_table_name" data-table-name=<%= table %>>
                  <%= table %>
                  <i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                </a>
              </div>
            <% end %>
          <% end %>

          <br>
          <div class="divider">
          </div>
        </div>

        <div class="hide" id="layout_builder_field_settings_form_screen_2">
          <h4>
            <a href="#" class="layout_builder_field_settings_form_back_btn">
              <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
            </a>
            <span id="layout_builder_selected_table_name"></span>
          </h4>

          <p>Drag fields to the containers on the right to update layout.</p>

          <div class="light-border-bottom"></div>

          <div id="layout-builder-draggable-fields-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
