<nav class="navbar-default navbar-static-side " role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header ">
        <div class="dropdown profile-element">
          <%= link_to dashboard_path, :class => 'navbar-link left-layout-link' do %>
            <span>
              <img alt="image" class="" src="<%= image_url '/assets/images/Kuwinda_logo_full-blue-260.png' %>" style="width: 100px"/>
            </span>

            <a>
              <span class="clear">
                <span class="block m-t-xs">
                  <% if current_admin_user %>
                    <strong class="font-bold"><%= current_admin_user.full_name %></strong>
                  <% end %>
                </span>

                <% if demo_app %>
                  <span class="text-muted text-xs block">Demo</span>
                <% end %>
              </span>
            </a>
          <% end %>
        </div>

        <div class="logo-element">
          <img src="/assets/logos/kuwinda_thumbnail.png" alt="" class="thumbnail">
        </div>
      </li>

      <li class="<%= active_controller?('dashboard') || active_controller?('show')%>">
        <%= link_to dashboard_path do %>
          <span class="nav-label dashboard-nav-link" data-i18n="nav.layouts">DASHBOARD</span>
        <% end %>
      </li>

      <li class="<%= active_controller?('tables') && active_action?('show') %>">
        <a href="" id="nav-link-for-available-databases" class="nav-link-for-available-databases">
          <span class="nav-label" data-i18n="nav.dashboard">DATA</span> <span class="fa arrow"></span>
        </a>

        <ul class="nav nav-second-level collapse" id="nav-populate-available-databases">
        </ul>
      </li>

      <% if Rails.env.development? || Rails.env.staging? %>
        <li class="<%= active_controller?('task_queues') %> hide">
          <%= link_to task_queues_path do %>
            <i class="fa fa-list" aria-hidden="true"></i>
            <span class="nav-label" data-i18n="nav.queues">Task Queues</span> <span class="fa arrow"></span>
          <% end %>

          <ul class="nav nav-second-level collapse">
            <li>
              <%= link_to "Create Task Queue", task_queues_path %>
            </li>

            <% if @task_queues.present? %>
              <li>
                <a href="#" class="divider"></a>
              </li>
            <% end %>

            <% @task_queues&.each do |q| %>
              <li class="">
                <%= link_to q.name, edit_task_queue_path(q) %>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <li class="<%= active_controller?('layout_builder') %> hide">
        <%= link_to layouts_path do %>
          <span class="nav-label" data-i18n="nav.layouts">Layouts</span>
        <% end %>
      </li>

      <% if current_admin_user.admin_abilities? %>
        <li class="<%= active_controller?('organisation_settings') || active_controller?('edit') || active_controller?('admin_users') %> || <%= active_controller?('permissions') %>">
          <a href="" id="nav-link-for-tables">
            <span class="nav-label" data-i18n="nav.layouts">SETTINGS</span> <span class="fa arrow"></span>
          </a>

          <ul class="nav nav-second-level collapse">
            <li class="">
              <%= link_to edit_organisation_setting_path(current_organisation), id: "nav-link-for-general-settings" do %>
                <%= image_tag('/assets/images/icons/settings-1.png') %>  General
              <% end %>
            </li>
            <li class="<%= active_controller?('admin_users') %>">
              <%= link_to users_path, id: "nav-link-for-user-settings" do %>
                <%= image_tag('/assets/images/icons/group-3.png') %>  Users
              <% end %>
            </li>
            <li class="<%= active_controller?('permissions') %>">
              <%= link_to permissions_path, id: "nav-link-for-user-settings" do %>
                <%= image_tag('/assets/images/icons/database-1.png') %>  Permissions
              <% end %>
            </li>
            <li class="<%= active_controller?('databases') %>">
              <a href="" id="nav-link-for-available-databases" class="nav-link-for-available-databases">
                <span class="nav-label" data-i18n="nav.layouts">
                  <%= image_tag('/assets/images/icons/database-1.png') %>
                  Databases
                </span> <span class="fa arrow"></span>
              </a>

              <ul class="nav nav-second-level collapse nav-databases">

                <li class="">
                  <%= link_to 'Add', new_database_path, id: "nav-link-for-add-database" %>
                </li>
                <%
=begin%>
 <% @available_databases&.each do |database| %>
                  <li class="">
                    <%= link_to database.friendly_name, edit_database_path(database), id: "nav-link-for-database" %>
                  </li>
                <% end %>
                <li class="">
                  <%= link_to 'Add', new_database_path, id: "nav-link-for-add-database" %>
                </li> 
<%
=end%>
              </ul>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
