<nav class="navbar-default navbar-static-side " role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header ">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
          </span>

          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold"><%= current_admin_user.full_name %></strong>
              </span>
              <span class="text-muted text-xs block">Art Director </span>
            </span>
          </a>

          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <a href="">Profile</a>
            </li>

            <li>
              <a href="">Contacts</a>
            </li>

            <li>
              <a href="">Mailbox</a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="">Logout</a>
            </li>
          </ul>
        </div>

        <div class="logo-element">
          KW
        </div>
      </li>

      <li class="<%= active_controller?('dashboard') || active_controller?('show')%>">
        <%= link_to dashboard_path do %>
          <i class="fa fa-th-large"></i>
          <span class="nav-label" data-i18n="nav.layouts">Dashboard</span>
        <% end %>
      </li>

      <li class="<%= active_controller?('users') || active_controller?('companies') %>">
        <a href="">
          <i class="fa fa-users"></i>
          <span class="nav-label" data-i18n="nav.dashboard">Customers</span> <span class="fa arrow"></span>
        </a>

        <ul class="nav nav-second-level collapse">
          <li class="">
            <%= link_to "Users", users_path %>
          </li>

          <li class="">
            <%= link_to "Companies", companies_path %>
          </li>
        </ul>
      </li>

      <li class="<%= active_controller?('tables') && active_action?('show') %>">
        <a href="">
          <i class="fa fa-table" aria-hidden="true"></i>
          <span class="nav-label" data-i18n="nav.dashboard">Tables</span> <span class="fa arrow"></span>
        </a>



        <ul class="nav nav-second-level collapse">
          <% @target_db_tables.each do |t| %>
            <li class="">
              <%= link_to t, table_path(t) %>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="<%= active_controller?('work_lists') %>">
        <%= link_to work_lists_path do %>
          <i class="fa fa-list" aria-hidden="true"></i>
          <span class="nav-label" data-i18n="nav.work_lists">Work lists</span>
        <% end %>
      </li>

      <li class="<%= active_action?('view_page') %>">
        <a href="">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <span class="nav-label" data-i18n="nav.dashboard">ViewBuilder</span> <span class="fa arrow"></span>
        </a>

        <ul class="nav nav-second-level collapse">
          <li class="">
            <%= link_to "View all", view_builder_index_path %>
          </li>

          <li class="">
            <%= link_to "Add new", new_view_builder_path %>
          </li>
        </ul>
      </li>

      <% if @view_builders.any? %>
        <% @view_builders.each do |view_builder| %>
          <li class="<%= active_controller?('view_builder') %>">
            <%= link_to view_builder_view_path(id: view_builder) do %>
            <i class="fa fa-anchor"></i>
            <span class="nav-label" data-i18n="nav.layouts"><%= view_builder.view_name %></span>
            <% end %>
          </li>
        <% end %>
      <% end %>

      <li class="<%= active_controller?('layout_builder') %>">
        <%= link_to layouts_path do %>
          <i class="fa fa-th"></i>
          <span class="nav-label" data-i18n="nav.layouts">Layouts</span>
        <% end %>
      </li>

      <li class="<%= active_controller?('admin_user_registrations') || active_controller?('edit')%>">
        <%= link_to edit_admin_user_registration_path do %>
          <i class="fa fa-sliders"></i>
          <span class="nav-label" data-i18n="nav.layouts">Settings</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
