<nav class="navbar-default navbar-static-side " role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header ">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" class="" src="<%= image_url '/assets/images/Kuwinda_logo_full-blue-260.png' %>" style="width: 100px"/>
          </span>

          <a>
            <span class="clear">
              <span class="block m-t-xs">
                <% if current_admin_user %>
                  <strong class="font-bold"><%= current_admin_user.full_name %></strong>
                <% end %>
              </span>

              <% if demo_app %>
                <span class="text-muted text-xs block">Demo</span>
              <% end %>
            </span>
          </a>
        </div>

        <div class="logo-element">
          <img src="/assets/logos/kuwinda_thumbnail.png" alt="" class="thumbnail">
        </div>
      </li>

      <li class="<%= active_controller?('dashboard') || active_controller?('show')%>">
        <%= link_to dashboard_path do %>
          <i class="fa fa-th-large"></i>
          <span class="nav-label dashboard-nav-link" data-i18n="nav.layouts">Dashboard</span>
        <% end %>
      </li>

      <li class="<%= active_controller?('tables') && active_action?('show') %>">
        <a href="" id="nav-link-for-tables">
          <i class="fa fa-table" aria-hidden="true"></i>
          <span class="nav-label" data-i18n="nav.dashboard">Tables</span> <span class="fa arrow"></span>
        </a>

        <ul class="nav nav-second-level collapse">
          <% @available_tables.each do |t| %>
            <li class="">
              <%= link_to t, table_path(table: t, id: t.downcase), id: "nav-link-for-#{t.downcase}-table" %>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="<%= active_controller?('task_queues') %>">
        <%= link_to task_queues_path do %>
          <i class="fa fa-list" aria-hidden="true"></i>
          <span class="nav-label" data-i18n="nav.queues">Task Queues</span> <span class="fa arrow"></span>
        <% end %>

        <ul class="nav nav-second-level collapse">
          <li>
            <%= link_to "Create Task Queue", task_queues_path %>
          </li>

          <% if @task_queues.present? %>
            <li>
              <a href="#" class="divider"></a>
            </li>
          <% end %>

          <% @task_queues.each do |q| %>
            <li class="">
              <%= link_to q.name, edit_task_queue_path(q) %>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="<%= active_controller?('layout_builder') %> hide">
        <%= link_to layouts_path do %>
          <i class="fa fa-th"></i>
          <span class="nav-label" data-i18n="nav.layouts">Layouts</span>
        <% end %>
      </li>

      <li class="<%= active_controller?('admin_user_registrations') || active_controller?('edit')%>">
        <%= link_to edit_admin_user_registration_path do %>
          <i class="fa fa-sliders"></i>
          <span class="nav-label" data-i18n="nav.layouts">Settings</span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
