<!DOCTYPE html>
<html>
  <head>
    <title>MissionKontrol</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield(:head) %>
  </head>

  <body class="gray-bg">
    <div class="container">
      <%= render 'shared/flash_message' %>
      <%= yield %>
      <%= insert_paloma_hook %>
    </div>

    <div id="natterly-container"></div>

    <%= render 'layouts/natterly' %>
  </body>
</html>
