<!DOCTYPE html>
<html>

  <head>
    <title>MissionKontrol</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %> ">
      <%= render 'layouts/navigation' %>
      <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
        <%= render 'shared/flash_message' %>
        <div class="row">
          <nav class="navbar navbar-static-top" role="navigation">
          </nav>
        </div>

        <%= yield %>
        <%= insert_paloma_hook %>
        <%= render 'layouts/footer' %>
      </div>
    </div>

    <div id="natterly-container"></div>

  </body>
</html>
