<!DOCTYPE html>
<html>

  <head>
    <title>Kuwinda</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
  </head>

  <body>
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %> ">
      <%= render 'layouts/navigation' %>
      <div id="page-wrapper" class="gray-bg <%= @extra_class %>">
        <%= render 'shared/flash_message' %>
        <%= render 'layouts/topnavbar' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>

    <div id="natterly-container"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-slider/1.0.0/simpleslider.min.js"></script>
    <%= render 'layouts/mouseflow' %>
    <%= render 'layouts/natterly' %>
    <%= render 'layouts/twilio' %>
  </body>
</html>
