<!DOCTYPE html>
<html>

  <head>
    <title>Kuwinda</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
  </head>

  <body>

    <!-- Skin configuration box -->

    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %> ">

      <!-- Navigation -->
      <%= render 'layouts/navigation' %>

      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg <%= @extra_class %> ">

        <%= render 'shared/flash_message' %>

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <!-- Main view  -->
        <%= yield %>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

      </div>
      <!-- End page wrapper-->

      <!-- Right sidebar -->
      <%= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-slider/1.0.0/simpleslider.min.js"></script>

  </body>

  <script type="text/javascript">
    window._mfq = window._mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/b232d6f0-c33f-44f7-984f-ef6999a0d23c.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
  </script>
</html>
