<!DOCTYPE html>
<html>

  <head>
    <title>Kuwinda</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- Skin configuration box -->

    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %> ">

      <!-- Navigation -->
      <%= render 'layouts/navigation' %>

      <!-- Page wraper -->
      <div id="page-wrapper" class="gray-bg <%= @extra_class %> ">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <!-- Main view  -->
        <%= yield %>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

      </div>
      <!-- End page wrapper-->

      <!-- Right sidebar -->
      <%= render 'layouts/rightsidebar' %>

    </div>
    <!-- End wrapper-->

  </body>

</html>
