<!DOCTYPE html>
<html>
  <head>
    <head>
      <title>Kuwinda</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
  </head>

  <body class="gray-bg">
    <%= yield %>

    <div id="natterly-container"></div>

    <%= render 'layouts/natterly' %>
  </body>
</html>
