<style media="screen">
  .height-100 {
    height: 100%;
  }
</style>

<!DOCTYPE html>
<html>

  <head>
    <title>Kuwinda</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
  </head>

  <body class="gray-bg" style="">
    <div class="container-fluid height-100">

      <div class="row">
        <div class="col-sm-3">
          <%= render 'layouts/layout_builder_navigation' %>
        </div>

        <div class="col-sm-9">
          <%= render 'layouts/layout_builder_topnavbar' %>

          <%= render 'shared/flash_message' %>

          <%= yield %>

          <% render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/draggable.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/sortable.js"></script>
</html>
