<!DOCTYPE html>
<html>

  <head>
    <title>Kuwinda</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
  </head>

  <body class="gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class='col-sm-12'>
          <%= render 'layouts/layout_builder_topnavbar' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 col-md-4 col-lg-3">
          <%= render 'layouts/layout_builder_navigation' %>
        </div>

        <div class="col-sm-7 col-md-8 col-lg-9">
          <%= render 'shared/flash_message' %>

          <%= yield %>

          <% render 'layouts/footer' %>
        </div>
      </div>
    </div>

    <div id="natterly-container"></div>

    <%= render 'layouts/natterly' %>
    <%= render 'layouts/twilio' %>
    <%= render 'layouts/dragula' %>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.6/lib/draggable.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/sortable.js"></script>
</html>
