<!DOCTYPE html>
<html>
  <head>
    <title>MissionKontrol</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield(:head) %>
  </head>

  <body class="gray-bg">
    <div class="top-nav">
      <div class='col-sm-12'>
        <%= render 'layouts/task_queue_topnavbar' %>
      </div>
    </div>
    <div class="task-queue--navigation-tabs border-bottom">
      <div class="text-center top-tab-for-queue-layout">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="top-tab-item-for-queue-layout">Define</a>
          </li>

          <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="top-tab-item-for-queue-layout">Publish</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <%= render 'shared/flash_message' %>

      <%= yield %>
      <%= insert_paloma_hook %>

      <% render 'layouts/footer' %>
    </div>

    <div id="natterly-container"></div>

    <%# render 'layouts/natterly' %>
  </body>
</html>
